DEV_MODE=false

POSTGRES_USER=admin
POSTGRES_PASSWORD=root
POSTGRES_DB=lemcol
POSTGRES_HOST=db
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}"

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_AUTH_URL=https://discord.com/api/oauth2/authorize
DISCORD_TOKEN_URL=https://discord.com/api/oauth2/token
DISCORD_CALLBACK_URL=http://localhost:50434/api/auth/discord/callback

DOMAIN=example.com
SESSION_SECRET=

# Game config
WORLD_SEED=2331275688526540739